<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <form action="/create" method="get">
        表示数：<input type="text" name="parson" size="10">
        <input type="submit" value="選手を追加">
    </form>
</body>
</html>
